* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.sceen-1 {
  height: 744px;
  width: 1600px;
  background-image: url(../assets/1-sceen_bg-image.png);
  color: white;
}

.sceen-1 .menu {
  height: 95px;
  width: 1600px;
}

.sceen-1 .about {
  position: absolute;
  top: 40px;
  left: 502px;
  border-bottom: 1px solid white;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 500;
}

.sceen-1 .syllabus {
  position: absolute;
  top: 40px;
  left: 625px;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

.sceen-1 .logo {
  height: 44px;
  width: 44px;
  position: absolute;
  left: 778px;
  top: 25px;
}

.sceen-1 .projects {
  position: absolute;
  top: 40px;
  left: 922px;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

.sceen-1 .faq {
  position: absolute;
  top: 40px;
  left: 1059px;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

.menu p:hover {
  color: yellowgreen;
  cursor: pointer;
}

.sceen-1 h1 {
  height: 75px;
  position: absolute;
  top: 230px;
  left: 435px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.sceen-1 .p {
  position: absolute;
  height: 50px;
  top: 327px;
  left: 576px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.2px;
}

.sceen-1 .button {
  position: absolute;
  top: 405px;
  left: 708px;
  height: 46px;
  width: 184px;
  background-color: rgba(0, 175, 219, 1);
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 700;
  line-height: 46px;
  font-size: 14px;
}

.sceen-1 .button:hover {
  cursor: pointer;
  background-color: yellowgreen;
}

.sceen-1 .mail {
  position: absolute;
  top: 634px;
  left: 715px;
  width: 20px;
  height: 20px;
}

.sceen-1 .facebook {
  position: absolute;
  top: 634px;
  left: 765px;
  width: 20px;
  height: 20px;
}

.sceen-1 .insta {
  position: absolute;
  top: 634px;
  left: 815px;
  width: 20px;
  height: 20px;
}

.sceen-1 .youtube {
  position: absolute;
  top: 634px;
  left: 865px;
  width: 20px;
  height: 20px;
}

.sceen-1 img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.sceen-2 {
  height: 842px;
  width: 1600px;
  position: relative;
}

.sceen-2 .wrapper {
  height: 233px;
  width: 407px;
  position: absolute;
  top: 295px;
  left: 269px;
  display: flex;
  flex-direction: column;
}

.sceen-2 h2 {
  color: rgba(55, 55, 55, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: left;
  display: flex;
  align-items: flex-end;
  color: rgba(55, 55, 55, 1);
}

.sceen-2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgba(78, 78, 78, 1);
}

.sceen-2 p span {
  font-weight: 500;
}

.sceen-2 .button {
  height: 46px;
  width: 184px;
  background-color: rgba(0, 175, 219, 1);
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 700;
  line-height: 16px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sceen-2 .button:hover {
  cursor: pointer;
  background-color: yellowgreen;
}

.sceen-2 img {
  position: absolute;
  top: 120px;
  left: 924px;
}

.sceen-3 {
  height: 504px;
  width: 1600px;
  background-color: rgba(245, 246, 247, 1);
  position: relative;
}

.sceen-3 .userpic {
  position: absolute;
  top: 155px;
  left: 396px;
}

.sceen-3 h3 {
  position: absolute;
  top: 220px;
  left: 338px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(55, 55, 55, 1);

}

.sceen-3 p {
  position: absolute;
  top: 251px;
  left: 271px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  color: rgba(78, 78, 78, 1);
}

.sceen-3 .slider .arrow-left {
  position: absolute;
  top: 84px;
  left: 1248px;
}

.sceen-3 .slider .arrow-left:hover {
  cursor: pointer;
}

.sceen-3 .slider .current-n {
  position: absolute;
  top: 82px;
  left: 1271px;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  font-weight: 400;
  color: rgba(55, 55, 55, 1);
}

.sceen-3 .slider .devider {
  position: absolute;
  top: 84px;
  left: 1286px;
}

.sceen-3 .slider .all-n {
  position: absolute;
  top: 82px;
  left: 1297px;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  font-weight: 400;
  color: rgba(55, 55, 55, 1);
}

.sceen-3 .slider .arrow-right {
  position: absolute;
  top: 84px;
  left: 1322px;
}

.sceen-3 .slider .arrow-right:hover {
  cursor: pointer;
}

.sceen-3 .img1 {
  position: absolute;
  top: 120px;
  left: 706px;
}

.sceen-3 .img2 {
  position: absolute;
  top: 120px;
  left: 1143px;
}

.sceen-3 .img3 {
  position: absolute;
  top: 120px;
  left: 1580px;
}

.sceen-4 {
  height: 842px;
  width: 1600px;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}

.sceen-4 img {
  position: absolute;
  top: 120px;
  left: 269px;
}

.sceen-4 h2 {
  position: absolute;
  top: 319px;
  left: 815px;
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(55, 55, 55, 1);
}

.sceen-4 p {
  position: absolute;
  top: 368px;
  left: 815px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-weight: 400;
  color: rgba(78, 78, 78, 1);
}

.sceen-4 p span {
  font-weight: 500;
}

.sceen-4 .button {
  position: absolute;
  height: 46px;
  width: 180px;
  background-color: rgba(0, 175, 219, 1);
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 700;
  line-height: 46px;
  font-size: 14px;
  top: 457px;
  left: 815px;
}

.sceen-4 .button:hover {
  cursor: pointer;
  background-color: yellowgreen;
}

.sceen-5 {
  width: 1600px;
  height: 524px;
  position: relative;
  background-image: url(../assets/img_5.png);
}

.sceen-5 h2 {
  position: absolute;
  top: 200px;
  left: 610px;
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.sceen-5 input {
  position: absolute;
  top: 258px;
  left: 597px;
  width: 316px;
  height: 46px;
  color: rgba(55, 55, 55, 0.5);
  border: none;
  background-color: #ffffff;
  padding-left: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 19.6px;
}

.sceen-5 img {
  position: absolute;
  top: 258px;
  left: 937px;
}

.sceen-5 img:hover {
  cursor: pointer;
}

.sceen-6 {
  width: 1600px;
  height: 464px;
  position: relative;
  background-color: rgba(245, 246, 247, 1);
}

.sceen-6 h2 {
  position: absolute;
  top: 120px;
  left: 675px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(55, 55, 55, 1);
}

.sceen-6 p {
  position: absolute;
  top: 170px;
  left: 565px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: rgba(78, 78, 78, 1);
}

.sceen-6 .apples-wrapper:hover {
  cursor: pointer;
}

.sceen-6 .playm-wrapper:hover {
  cursor: pointer;
}

.sceen-6 .apples-wrapper div {
  position: absolute;
  top: 238px;
  left: 599px;
  height: 46px;
  width: 127px;
  background-color: rgba(0, 175, 219, 1);
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 46px;
  font-weight: 700;
  font-size: 14px;
}

.sceen-6 .apples-wrapper img {
  position: absolute;
  top: 238px;
  left: 726px;
}

.sceen-6 .playm-wrapper div {
  position: absolute;
  top: 238px;
  left: 815px;
  height: 46px;
  width: 127px;
  background-color: rgba(0, 175, 219, 1);
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 46px;
  font-weight: 700;
  font-size: 14px;
}

.sceen-6 .playm-wrapper img {
  position: absolute;
  top: 238px;
  left: 942px;
}

.footer {
  position: relative;
  height: 185px;
  width: 1600px;
  background-color: black;
}

.footer .ref {
  color: white;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

.footer .ref:hover {
  color: yellowgreen;
  cursor: pointer;
}

.footer .credits {
  position: absolute;
  top: 74px;
  left: 160px;
}

.footer .privacy {
  position: absolute;
  top: 74px;
  left: 245px;
}

.footer .our-teams {
  position: absolute;
  top: 74px;
  left: 331px;
}

.footer .devider {
  position: absolute;
  top: 80px;
  height: 8px;
  border-left: 1px solid white;
}

.footer img {
  position: absolute;
  top: 60px;
  left: 778px;
}

.footer p {
  position: absolute;
  top: 74px;
  left: 1270px;
  color: rgba(129, 129, 129, 1);
  font-size: 14px;
  line-height: 19.6px;
  text-align: center;
  font-weight: 400;
}
